nav{
    background-color: aquamarine;
    text-align: center;
    padding: 10px 0;
}

nav ul{
    list-style: none;
    padding: 0;
    margin:0;
    display: inline-block;
}

nav ul li{
    display: inline-block;
    margin: 0 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
}

nav ul li a{
    text-decoration: none;
    color:#333;

}

nav ul li a:hover{
    color:blueviolet
}

#hero{
    width: 70%;
    float: left;
    padding: 40px;
    box-sizing: border-box;
}

#hero-content{
    text-align: left;
}